<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
  </head>

  <body>
    
    {% block header %}
    <header id="wrapper">
      <nav>
        <ul>
          <li><a href="/"><img src="/logo.png" alt="Foodfy Logo"></a></li>
          <li class="li-sobre"><a href="/about">Sobre</a></li>
          <li><a href="/recipes">Receitas</a></li>
        </ul>
      </nav>
    </header>
    {% endblock %}
    
    <div id="wrapper">
      {% block content %}{% endblock %}
    </div>

    <footer>
      <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>
  
    <script src="/scripts.js"></script>
  </body>
</html>
